<li>
  <%= link_to 'Messages', messages_path %>
  <span class="arrow">
    <span>></span>
  </span>
</li>

<% if params[:action] == 'new' %>

  <li>
    <%= link_to 'New', new_message_path %>
    <span class="arrow">
      <span>></span>
    </span>
  </li>

<% end %>