<h1>Messages</h1>

<hr>

<p><b><%= link_to 'Create New Message', new_message_path %></b></p>

<table>
<% @messages.each do |message| %>
  <tr>
    <td><%= link_to User.find_name_by_user_id(message.receiver_id), user_path(message.receiver_id) %></td>
    <td><%= link_to message.subject, message %></td>
    <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
