<h1><%= @messages.first.subject %></h1>

<hr>

<div id="message-convo">
<% @messages.each do |message| %>
  <p class="box">
    <span class="author">
      <%= User.find_name_by_user_id(message.sender_id) %>
    </span>
    <span class="message">
      <%= message.message %>
    </span>
    <div class="clear"></div>
  </p>
<% end %>
</div>

<a href="<%= new_message_path(:reply => @messages.first.message_id) %>"><input class="btn btn-primary" type="button" value="Reply" /></a>