<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @assignment_type.name %>
</p>


<%= link_to 'Edit', edit_assignment_type_path(@assignment_type) %> |
<%= link_to 'Back', assignment_types_path %>
