<h1>Editing assignment</h1>

<%= render 'form' %>

<% course = Course.find(params[:course_id].to_i) %>
<% section = Section.find(params[:section_id].to_i) %>

<%= link_to 'Back to Assignment', course_section_assignment_path(course, section, @assignment) %>