List each user and their grade for the assignment. If no grade, just say "No Grade". Also have an edit/create button for the assignment

<p><%= link_to "Add New Grade", new_assignment_grade_path %></p>