<h3>Whiteboard</h3>

<hr>

<table class="table table-striped">
  <% @course_sections.each do |cs| %>
    <tr>
      <td>
        <%= link_to cs[:course].number + ' ' + cs[:course].name + ' - ' + cs[:section].number.to_s, course_path(cs[:course], :section => cs[:section].section_id) %>
      </td>
    </tr>
  <% end %>
</table>