<h3>Whiteboard</h3>

<hr>

<style type="text/css">

/* Screw it, hardcoding CSS */

#datepicker {
  position: relative;
}

#datepicker > div {
  position: absolute;
  right: 0px;
}

</style>

<!-- <div id="datepicker" class="right" style="width: 43%"></div> -->

<table class="table table-striped">
  <% @course_sections.each do |cs| %>
    <tr>
      <td>
        <%= link_to cs[:course].number + ' ' + cs[:course].name + ' - ' + cs[:section].number.to_s, course_path(cs[:course], :section => cs[:section].section_id) %>
      </td>
    </tr>
  <% end %>
</table>

<script type="text/javascript">

// $(document).ready(function() {
//     $("#datepicker").datepicker();
// });

</script>