<h3>Whiteboard</h3>

<hr>

<div id="datepicker" class="right" style="width: 43%"></div>
<div class="left" style="width: 45%">
  <% @course_sections.each do |cs| %>
    <%= link_to cs[:course].number + ' ' + cs[:course].name + ' - ' + cs[:section].number.to_s, course_path(cs[:course], :section => cs[:section].section_id) %><br />
  <% end %>
</div>

<script type="text/javascript">

$(document).ready(function() {
    $("#datepicker").datepicker();
});

</script>