
<div class="pageheader">
  <h1>Courses</h1>
</div>

<div class="backpic">
  <div class="listofitems">
    <% @courses.each do |course| %>
      <div class="mainListItem">
        <%= course.number %> &nbsp; <%= course.name %>
      </div>
      <div class="subListItem">
        <%= link_to 'Assignments', assignments_path(:course => course.course_id) %> &nbsp;
        <%= link_to 'Course Information', course %>
      </div>
    <% end %>
  </div>
</div>

<br />