/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.fileupload-ui
 *= require_tree .
 */

.content {
 /* background-color: #eee; */
  padding: 20px;
 margin-top: 10px;
  margin-left:auto;
margin-right:auto;
width:90%;

  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);



background: rgb(4,81,0); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(4,81,0,1) 0%, rgba(255,255,255,1) 5%, rgba(216,216,216,1) 95%, rgba(4,81,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(4,81,0,1)), color-stop(5%,rgba(255,255,255,1)), color-stop(95%,rgba(216,216,216,1)), color-stop(100%,rgba(4,81,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(4,81,0,1) 0%,rgba(255,255,255,1) 5%,rgba(216,216,216,1) 95%,rgba(4,81,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(4,81,0,1) 0%,rgba(255,255,255,1) 5%,rgba(216,216,216,1) 95%,rgba(4,81,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(4,81,0,1) 0%,rgba(255,255,255,1) 5%,rgba(216,216,216,1) 95%,rgba(4,81,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(4,81,0,1) 0%,rgba(255,255,255,1) 5%,rgba(216,216,216,1) 95%,rgba(4,81,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#045100', endColorstr='#045100',GradientType=0 ); /* IE6-9 */
}

.sidebar {
float: left;
padding-left: 10px;
padding-top: 0px;
margin-top: 5px;

font-weight: bold;
font-size: 18px;
margin-left:auto;
margin-right:auto;
width: 80%;
clear: both;
}

.sidebar li {
list-style-position: outside;
list-style-type: none;
font-size: 18px;
letter-spacing: 1px;
line-height:150%;
text-align: left;
vertical-align: top;
}

.navbarcontainer {

}

.pageheader {
clear:both;
  padding-top: auto;
  padding-bottom: auto;

/*  width: 99%;
  margin-right: auto;
  margin-left:auto;

margin-top:auto;
margin-bottom:auto;*/

}

.topnavright {
float:right;
text-align: right;
clear:right;
}

.topnavleft {
margin: 5px;
background-color: #000000;
background-image: url('/whiteboard2.png');
float:left;
background-position: center center;
background-repeat: no-repeat;
display: block;
height: 50px;
text-decoration: none;
width: 200px;
clear:left;
}

.mainListItem {
font-size: 25px;
font-weight: bold;
line-height:28px;
color: #000000;

border-bottom-style: solid;
border-color: black;
border-width: 2px;
}

.subListItem {
font-size: 18px;
line-height:18px;
}


