/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.fileupload-ui
 *= require_tree .
 */

/* Namespace the bootstrap styles so they don't conflic with our CSS */
.bootstrap-styles {
  @import "bootstrap";
  @import "bootstrap-responsive";
}

.bootstrap-padding {
  padding: 20px 20px 20px 0px !important;
  font-size: 14px;
  position: relative;
}

.bootstrap-styles h1, .bootstrap-styles h2, .bootstrap-styles h3 {
  font-size: 27px;
  font-family: "klavika-web", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif !important;
  line-height: 100% !important;
  margin: 0px 0px 10px 0px;
}

.bootstrap-styles textarea {
  height: 200px;
  width: 500px;
}

.bootstrap-styles .form-actions {
  background-color: transparent;
  border-top: none;
  padding: 0px;
  margin: 0px;
}

.bootstrap-styles form {
  margin: 0px;
}

.bootstrap-styles hr {
  background-color: #eee;
  border: none;
  height: 10px;
  margin: 15px 0px 15px 0px;
}

.bootstrap-styles a input[type="button"] {
  width: auto;
}

/* Global Styles */

body {
  color: #000;
  font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: #0769AD;
  margin: 0px 0px 20px 0px;
  padding: 0px;
}

p, ol, ul, td {
  font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

li {
  list-style-type: none;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #0088cc;
  &:visited {
    color: #0088cc;
  }
  &:hover {
    color: #045100;
    text-decoration: none;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

/* Header Nav */

#headernav {
  display: block;
  width: auto;
  padding: 0px;
  margin: 0px auto;
  color: #fff;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;

  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;

  background: #333333; /* Old browsers */
  background: -moz-linear-gradient(top,  #333333 0%, #3b3b3b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#3b3b3b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #333333 0%,#3b3b3b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #333333 0%,#3b3b3b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #333333 0%,#3b3b3b 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #333333 0%,#3b3b3b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#3b3b3b',GradientType=0 ); /* IE6-9 */
}

#headernav > ul {
  padding: 0px;
  margin: 0px 0px 0px 0px;
}

#headernav .nav {
  float: right;
}

#headernav .nav > li {
  float: left;
  border-left: 1px solid #000;
}

#headernav .nav > li:hover {
  background-color: #003F76;
}

#headernav .nav > li > a {
  color: #fff;
  display: block;
  padding: 5px 13px;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

#headernav .login {
  font-size: 14px;
  font-weight: bold;
  float: left;
  padding: 5px 13px;
}

/* Navbar */

#navbar {
  color: #fff;
  border-radius: 10px 10px 0px 0px;
  padding: 0px;
  margin: 0px auto;
  background: #05568d;
/*  background: -moz-linear-gradient(top,  #05568d 0%, #003f76 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#05568d), color-stop(100%,#003f76));
  background: -webkit-linear-gradient(top,  #05568d 0%,#003f76 100%);
  background: -o-linear-gradient(top,  #05568d 0%,#003f76 100%);
  background: -ms-linear-gradient(top,  #05568d 0%,#003f76 100%);
  background: linear-gradient(to bottom,  #05568d 0%,#003f76 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05568d', endColorstr='#003f76',GradientType=0 );
*/
}

#navbar > ul {
  padding: 0px;
  margin: 0px 0px 0px 0px;
}

#navbar .nav {
  float: left;
}

#navbar .nav > li {
  float: left;
  position: relative;
  padding: 0px;
}

#navbar .nav > li:first-child {
  border-radius: 10px 0px 0px 0px;
  -webkit-border-radius: 10px 0px 0px 0px;
}

#navbar .nav > li:hover {
  background-color: #003F76;
}

#navbar .nav > li > a {
  color: #fff;
  display: block;
  padding: 10px 15px 10px 36px;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
}

#navbar .nav > li a.first {
  padding-left: 20px;
}

#navbar .nav .arrow {
  border: 19px solid transparent;
  border-right: 1px none black;
  border-left-color: #000;
  -moz-border-right-colors: #000;
  display: block;
  position: absolute;
  right: -18px;
  top: 0px;
  z-index: 50;
  width: 0px;
  height: 0px;
}

/* TODO: Image or http://stackoverflow.com/questions/6950516/is-it-possible-to-make-a-box-arrow-in-css-3-with-a-gradient */
#navbar .nav .arrow > span {
  border: 18px solid transparent;
  border-right: 1px none black;
  border-left-color: #05568D;
  -moz-border-right-colors: #05568D;
  display: block;
  position: absolute;
  right: 1px;
  top: -18px;
  z-index: 51;
  white-space: nowrap;
  overflow: hidden;
  text-indent: 9999px;
  width: 0px;
  height: 0px;
}

/* Set z-index of following arrow to be behind the preceeding li! */

/*#navbar .nav .arrow > span:after {
    content: ' ';
    display: block;
    position: absolute;
    right: -7px;
    top: -19px;
    width: 27px;
    height: 27px;
    
    background: #05568d;
    background: -moz-linear-gradient(top,  #05568d 0%, #003f76 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#05568d), color-stop(100%,#003f76));
    background: -webkit-linear-gradient(top,  #05568d 0%,#003f76 100%);
    background: -o-linear-gradient(top,  #05568d 0%,#003f76 100%);
    background: -ms-linear-gradient(top,  #05568d 0%,#003f76 100%);
    background: linear-gradient(to bottom,  #05568d 0%,#003f76 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05568d', endColorstr='#003f76',GradientType=0 );

    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: 0 0;
    -moz-transform: rotate(45deg);
    -moz-transform-origin: 0 0;
    -o-transform: rotate(45deg);
    -o-transform-origin: 0 0;
    -ms-transform: rotate(45deg);
    -ms-transform-origin: 0 0;
    transform: rotate(45deg);
    transform-origin: 0 0;
}*/

#navbar .nav .arrow > span:hover:after {
  background: #003F76; /* Old browsers */
}

#navbar .date {
  float: right;
  font-weight: bold;
  font-size: 14px;
}

#navbar .date > li {
  padding: 10px 20px;
}

/* Content */

#main {
  padding: 70px 20px 0px 20px;
  margin: 0px auto;
}

.body-row {
  width: 1240px;
  max-width: 100%;
  min-width: 768px;
  margin: 0px auto;
  border: 1px solid #000;
  box-shadow: 0px 0px 8px rgba(1, 1, 1, 0.87);
}

#wrapper {
  background-color: #fff;
  margin: 0px auto;
}

#content {
  width: 74%;
  float: right;
}

.blocks-buttons > .item {
  float: left;
  padding: 7px 10px 10px 10px;
  font-size: 12px;
  width: 190px;
  max-width: 190px;
  height: 130px;
  max-height: 130px;
  margin: 0px 5px 5px 0px;
  display: table;
  overflow: hidden;
  background: #eeeeee;
  background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(top,  #eeeeee 0%, #dcdcdc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#dcdcdc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #eeeeee 0%,#dcdcdc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #eeeeee 0%,#dcdcdc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #eeeeee 0%,#dcdcdc 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #eeeeee 0%,#dcdcdc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dcdcdc',GradientType=0 ); /* IE6-9 */
}

.blocks-buttons > .item:hover {
  cursor: pointer;
  background: #E7E7E7; /* Old browsers */
  background: -moz-linear-gradient(top,  #eeeeee 0%, #d5d5d5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#d5d5d5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #eeeeee 0%,#d5d5d5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #eeeeee 0%,#d5d5d5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #eeeeee 0%,#d5d5d5 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #eeeeee 0%,#d5d5d5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#d5d5d5',GradientType=0 ); /* IE6-9 */
}

.blocks-buttons > .item > .valign {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.blocks-buttons > .item > .valign > .title {
  font-weight: bold;
  line-height: 15px;
  margin: 0px 0px 3px 0px;
  padding: 0px;
}

.blocks-buttons > .item > .valign > .title > a {
  color: #000;
}

.blocks-buttons > .item > .valign > .content {
  padding: 0px;
  margin: 0px;
  line-height: 25px;
  font-weight: normal;
}

.blocks-buttons > .item > .valign > .content > a {
  color: #000;
}

/* Sidebar */

#sidebar {
  color: #000;
  font-weight: bold;
  font-size: 18px;
  width: 22%;
  float: left;
  padding: 20px 0px 0px 0px;
  background-color: #eee;
  background-image: -webkit-radial-gradient(right, #f2f2f2, #ffffff 90%);
  background-image: -moz-radial-gradient(right, #f2f2f2, #ffffff 80%);
  background-image: radial-gradient(right, #f2f2f2, #ffffff 90%);
}

#sidebar > ul {
  padding: 0px;
  margin: 0px 0px 0px 0px;
  width: 100%;
}

#sidebar .nav {
  float: left;
}

#sidebar .nav > li:hover {
  background-color: #CCC;
}

#sidebar .nav > li > a {
  color: #000;
  display: block;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

#sidebar .nav > li > a:hover {
  color: #000;
}

#sidebar .nav > li.selected {
  background-color: #E7E7E7;
}

/* Misc */

.box-container {
  width: auto;
  padding: 0px;
  margin-bottom: 20px;
}

.box {
  background-color: #eee;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

div.box {
  margin-bottom: 10px;
}

.box > p {
  margin: 0px;
}

.box-container .half {
  width: 42%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin: 0px auto !important;
  text-align: center;
}

.top-right {
  position: absolute;
  right: 20px;
  top: 20px;
}

.box h1 {
  font-size: 16px;
  font-weight: bold;
}

#notice {
  color: green;
}

.clear {
  clear: both;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#mobilenav {
  display:none;
}
