// Place all the styles related to the attendances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#students_container > div {
  float: left;
}

#ajax_errors {
  color: #ff0000;
  font-weight: bold;
  margin: 0px auto;
  text-align: center;
}

.student {
  color: #ff0000;
  background-color: #ccc;
  font-weight: bold;
  border: 1px solid #000;
  margin: 0px 10px 10px 0px;
  width: 122px;
  height: 122px;
  text-align: center;
  cursor: pointer;
}

.student_name {
  width: auto;
  background-color: #000;
}

.last {
  margin-right: 0px !important;
}

.present {
  background-image: url('http://i293.photobucket.com/albums/mm55/SqueakyMachine/cake-2-1.jpg');
}

.absent {
  background-image: url('http://i293.photobucket.com/albums/mm55/SqueakyMachine/105ac7f7-3730-4dc8-8e06-a27298eb92c8.jpg');
}

.tardy {
  background-image: url('http://i293.photobucket.com/albums/mm55/SqueakyMachine/1164044a-eb49-416b-8ec4-7c03d32a5a96.jpg');
}

.excused {
  background-image: url('http://i293.photobucket.com/albums/mm55/SqueakyMachine/f52bded2-e0d5-4b55-bb50-f59e6eac425a.jpg');
}

/* So clicking the attendance doesn't highlight the element */
.no_select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}