// Place all the styles related to the attendances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#students_container > div {
  float: left;
}

#ajax_errors {
  color: #ff0000;
  font-weight: bold;
  margin: 0px auto;
  text-align: center;
}

.student {
  color: #ff0000;
  background-color: #ccc;
  font-weight: bold;
  border: 1px solid #000;
  margin: 0px 10px 10px 0px;
  width: 400px;
  height: 276px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.student_name {
  width: 100%;
  background-color: #000;
  position: absolute;
  bottom: 0px;
}

.last {
  margin-right: 0px !important;
}

.present {
  background-image: url('/attendance_present.png');
}

.absent {
  background-image: url('/attendance_absent.png');
}

.tardy {
  background-image: url('/attendance_tardy.png');
}

.excused {
  background-image: url('/attendance_excused.png');
}

/* So clicking the attendance doesn't highlight the element */
.no_select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}