// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mainListItem {
  font-size: 25px;
  font-weight: bold;
  line-height:28px;
  color: #000;
  border-bottom-style: solid;
  border-color: black;
  border-width: 2px;
}

.subListItem {
  font-size: 18px;
  line-height:18px;
}

.pageheader {
  clear: both;
}