<h1>Attendance</h1>

<hr>

<table cellpadding="5">

<% @professor_sections.each do |section| %>
  <tr>
    <td><b><%= link_to section.find_course_name + ' - ' + section.number.to_s, attendances_path(:section => section.section_id, :date => DateTime.now.strftime(date_url_format)) %></b></td>
  </tr>
<% end %>

</table>