<h1>Attendance</h1>

<script type="text/javascript">

// var allStudents = "<%= Attendance.all.to_json %>";
// var betterAllStudents = allStudents.replace(/&quot;/g, "\"");
// var arrayOfStudents = JSON.parse(betterAllStudents);

// var url='http://localhost:3000/attendances/'+attenState;
// // Method, url, async
// AJAX.open("PUT", url, true);
// AJAX.send(null); // Send the request.

// http://i293.photobucket.com/albums/mm55/SqueakyMachine/cake-2-1.jpg
// http://i293.photobucket.com/albums/mm55/SqueakyMachine/105ac7f7-3730-4dc8-8e06-a27298eb92c8.jpg
// http://i293.photobucket.com/albums/mm55/SqueakyMachine/1164044a-eb49-416b-8ec4-7c03d32a5a96.jpg
// http://i293.photobucket.com/albums/mm55/SqueakyMachine/f52bded2-e0d5-4b55-bb50-f59e6eac425a.jpg

</script>

TODO: List only the sections the professor is currently teaching if no URL params<br />
TODO: Else, list the attendance for the given section and date<br /><br />

<!-- If showing attendance for given section and date -->

Data: <br /><br />

Course: x<br />
Section: x<br />
Date: x<br />

<table>
  <tr>
    <th>Student</th>
    <th>Present</th>
    <th>Absent</th>
    <th>Tardy</th>
    <th>Excused</th>
  </tr>
  <% @attendances.each do |attendance| %>
  <tr>
    <td><%= attendance.user_id %></td>
    <td>x</td>
    <td>x</td>
  </tr>
  <% end %>
</table>

<br /><br />

<!-- If showing professor courses -->
<table>
  <tr>
    <th>Course</th>
    <th>Section</th>
    <th></th>
  </tr>
<% Course.professor_courses.each do |course| %>
  <tr>
    <td><%= course.name %></td>
    <td>x</td>
    <td><%= link_to 'Attendance', attendance_path(1) %></td>
  </tr>
<% end %>
</table>

<br />
