<ul class="nav">
  <li>
    <a href="/">WhiteBoard</a>
  </li>
  <li>
    <a href="/">Courses</a>
  </li>
  <li>
    <a href="/">Algorithms</a>
  </li>
  <li>
    <a href="/">Assignments</a>
  </li>
  <li>
    <a href="/">Homework 1</a>
  </li>
</ul>

<ul class="date">
  <li><%= DateTime.now.strftime(date_page_format) %></li>
</ul>