<ul class="nav">
  <li>
    <a href="/">WhiteBoard</a>
    <span class="arrow">
      <span>></span>
    </span>
  </li>
  <li>
    <a href="/">Courses</a>
    <span class="arrow">
      <span>></span>
    </span>
  </li>
  <li>
    <a href="/">Algorithms</a>
    <span class="arrow">
      <span>></span>
    </span>
  </li>
  <li>
    <a href="/">Assignments</a>
    <span class="arrow">
      <span>></span>
    </span>
  </li>
</ul>

<ul class="date">
  <li><%= DateTime.now.strftime(date_page_format) %></li>
</ul>